.food-container
{
    background-color: white;
    padding: 15px;
    margin: 10px;
    color: rgb(113, 116, 114);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button-container
{
    display: flex;
    justify-content: space-between;
}

.delete-button
{
    padding: 2px;
    border-radius: 6px;
    width: 100px;
    background-color: rgb(233, 74, 74);
    color: whitesmoke;
    border: none;
    box-shadow: 1px 1px 0px 0px black;
}

.update-button
{
    padding: 2px;
    border-radius: 6px;
    width: 100px;
    background-color: rgb(56, 168, 56);
    color: whitesmoke;
    border: none;
    box-shadow: 0px 0px 1px 1px black;
}