.showDiv
{
    /* background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(142, 213, 148) 0%, rgb(184, 134, 134) 100%); */
    padding: 10px;
    min-height: 490px;
}

.Add-item-btn-container
{
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.add-item-btn
{
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 1px rebeccapurple;
    border: none;
    color:coral;
    font-family:'Times New Roman', Times, serif;
}